Repository molgenis/molgenis-frontend, pull requests merged in 2020-02, with the labels that each got.

#266 fix: bump version of molgenis-ui-context to fix cookiewall bug
  Jenkinsfile
  packages/data-explorer/package.json
  packages/data-explorer/tests/e2e/specs/test.js
  packages/data-explorer/yarn.lock
  packages/legacy-lib/package.json
  packages/legacy-lib/yarn.lock
Labels: bug, pkg:data-explorer, pkg:legacy-lib

#258 feat(create group): When creating a group, the generated id is now editable
  packages/security/src/components/GroupCreate.vue
  packages/security/test/unit/specs/components/GroupCreate.spec.js
Labels: pkg:security

#265 chore: bump app versions for backend version: 8.3.0
  docker/proxy-config/proxy.d/frontend/lts.conf
Labels: pkg:legacy-lib, pkg:metadata-manager, pkg:security
