Repository molgenis/molgenis-frontend, pull requests merged in 2020-09, with the labels that each got.

#385 feat(components-library): Add string-filter component
  packages/components-library/src/components/filters/StringFilter.vue
  packages/components-library/src/main.ts
  packages/components-library/tests/unit/filters/CheckboxFilter.spec.ts
  packages/components-library/tests/unit/filters/StringFilter.spec.ts
  packages/components-library/tests/unit/filters/__snapshots__/StringFilter.spec.ts.snap
  packages/components-library/tests/unit/ui/CartSelectionToast.spec.ts
Labels: pkg:components-library

#378 feat(data-explorer): Add cart-selection component
  packages/data-explorer/package.json
  packages/data-explorer/public/bootstrap-molgenis-blue.min.css
  packages/data-explorer/src/components/utils/ShoppingButton.vue
  packages/data-explorer/src/store/mutations.ts
  packages/data-explorer/src/store/state.ts
  packages/data-explorer/src/types/ApplicationState.ts
  packages/data-explorer/src/views/CardView.vue
  packages/data-explorer/src/views/ClipboardView.vue
  packages/data-explorer/src/views/DataView.vue
  packages/data-explorer/src/views/EntityView.vue
  packages/data-explorer/src/views/MainView.vue
  packages/data-explorer/src/views/TableView.vue
  packages/data-explorer/src/views/ToolbarView.vue
  packages/data-explorer/tests/e2e/specs/test.js
  packages/data-explorer/tests/unit/components/utils/ShoppingButton.spec.ts
  packages/data-explorer/tests/unit/store/mutations.spec.ts
  packages/data-explorer/tests/unit/views/CardView.spec.ts
  packages/data-explorer/tests/unit/views/ClipboardView.spec.ts
  packages/data-explorer/tests/unit/views/DataView.spec.ts
  packages/data-explorer/tests/unit/views/TableView.spec.ts
  packages/data-explorer/tests/unit/views/ToolbarView.spec.ts
  packages/data-explorer/yarn.lock
Labels: data-explorer-2

#386 feat(components-library): Add Number filter component
  packages/components-library/jest.config.js
  packages/components-library/src/components/filters/NumberFilter.vue
  packages/components-library/src/main.ts
  packages/components-library/tests/unit/filters/NumberFilter.spec.ts
  packages/components-library/tests/unit/filters/__snapshots__/NumberFilter.spec.ts.snap
Labels: pkg:components-library

#379 Task/add settings ADR
  doc/adr/0003-have-app-create-settings.md
Labels: ADR
